/**
Apply base styles -
Only need to add styles for non-JS page here
**/

@font-face {
    font-family: 'Mona Sans';
    src:
      url('/fonts/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/fonts/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/fonts/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    }

@font-face {
    font-family: 'Source Code Pro';
    src:
        url('/fonts/SourceCodePro/SourceCodePro-VariableFont-wght.ttf') format('ttf');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src:
        url('/fonts/SourceCodePro/SourceCodePro-Italic-VariableFont-wght.ttf') format('ttf');
    font-weight: 200 900;
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Hubot Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(12, 12, 12, 0.92);
    color: rgb(255, 255, 255);
	line-height: 1.5;
    overscroll-behavior: none;
    color-scheme: dark !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 0;
}

html,body {
    min-height: 100vh;
}

:root {
    color-scheme: dark;
}

noscript {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.92);
    color: rgb(255, 255, 255);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color-scheme: dark !important;
    padding: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

#root {
    z-index: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
}

.contour-bg {
    color: black;
    background: url(/images/contour-v2.svg), linear-gradient(357deg, rgb(235 235 235) 0%, rgb(244 244 244) 100%);
}

.contour-bg-dark {
    color: white;
    background: url(/images/contour-v2-dark.svg), rgb(10, 11, 12);
}

a.footerLink {
    color: white;
    text-decoration: none;
}
a.footerLink:hover {
    color: white;
    text-decoration: none;
}