/*
------------------------------------------
Top-level styles
*/
@font-face {
    font-family: 'Mona Sans';
    src:
      url('/fonts/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/fonts/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/fonts/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    }

html, body {
    min-width: 375px;
    width: 100%;
    background-color: rgb(252,252,252);
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Hubot Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    background-color: rgb(252,252,252);
    min-width: 350px;
}

#root {
    z-index: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: rgb(252,252,252);
}

#placeholder-image {
    max-width: 150px;
    margin-bottom: 20px;
}

#placeholder-label {
    font-size: 20px;
    font-weight: 500;
}

#placeholder-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}