* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Courier New", monospace;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-content {
    display: flex;
    flex: 1;

    &.no-sidebar {
        // Sidebar is hidden, main takes full width
    }
}

.app-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
